@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fuente: 'Quicksand', sans-serif;
    --fuentetitulo: 'Bebas Neue', cursive;
}

.html {
    height: 100%;
}

.main_titulos {
    font-family: var(--fuentetitulo);
}

header {
    background-color: rgb(0, 0, 255);
    /* width: 100vh; */
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* @media (max-width:1000px){
 .header h3{
    display:none

 }
} */

.header_logo {
    width: 110px;
}

.header_lista {
    list-style: none;
    display: flex;
    margin-right: 30px;
    gap: 30px;
    justify-content: flex-end;
    align-items: center;
    /* flex-wrap: wrap; */
    font-family: var(--fuentetitulo);
    font-weight: lighter;
    font-size: 35px;
    transition: 5s all;
}

.header_lista a {
    color: white;
    text-decoration: none;
}

.header_lista_act {
    font-weight: bold;
}

.header_lista :hover {
    transform: scale(1.2);
}


.main_titulo {
    text-align: center;
    font-family: var(--fuentetitulo);

}

.main_titulos {
    text-align: center;
    font-family: var(--fuentetitulo);
}

.main_foto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_foto img {
    width: 60vh;

}

.main_texto {
    font-style: italic;
    display: flex;
    justify-content: center;
    /* transition: infinite all; */
}

.main_texto a {
    text-decoration: none;
    font-weight: bolder;
    font-family: var(--fuente);
    color: black;
    font-style: italic;
    font-size: 13px;
}

.historia_texto {
    font-family: var(--fuente);
}

.noticia1_titulo {
    font-family: var(--fuentetitulo);
}

.main_noticias {
    display: grid;
    grid-template-areas: "noticia1 noticia2 noticias_agenda";
    gap: 10px;
    padding: 20px;
    width: 100%;
}

.main_noticias a {
    text-decoration: none;
    font-weight: bolder;
    font-family: var(--fuente);
    color: black;
    font-style: italic;
    font-size: 13px;
}

.noticia1 {
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    width: 30vh;
    /* margin-left: 20px; */
    /* padding: 10px; */
    border-radius: 10px;
    gap: 10px;
    padding: 15px;
    justify-content: center;
}

.noticia1_foto {
    height: 300px;
    width: 300px;
    border-radius: 10px;
}

.noticia1_subtitulo {
    text-decoration: underline;
    font-family: var(--fuentetitulo);
    font-weight: lighter;
}


.noticia1_texto {
    font-family: var(--fuente);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.noticia1_foto {
    width: auto;
}


.historia_foto {
    width: 800px;
}

.noticia2 {
    border: 1px black solid;
    border-radius: 10px;
    width: 30vh;
    display: flex;
    padding: 15px;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.noticia2_subtitulo {
    font-family: var(--fuentetitulo);
    font-weight: lighter;
}

.noticia2_foto {
    width: auto;
}

.noticia2_texto {
    font-family: var(--fuente);
}

.noticias_agenda {
    border: 1px black solid;
    border-radius: 10px;
    display: flex;
    padding: 8px;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.tabla {
    display: flex;
    flex-direction: row;
    padding: 10px;

}


.noticias_agenda h3 {

    font-family: var(--fuentetitulo);
}

.noticias_agenda li {
    font-family: var(--fuente);
    list-style: none;
    padding: 20px;
}

.columna1 {
    /* list-style: none; */
    align-items: flex-start;
}

.columna2 {
    /* list-style: none; */
    align-items: center;
}

.columna3 {
    list-style: none;
    align-items: flex-end;
}

/* TIENDA COLE */

.articulos {
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "articulo1 articulo1 articulo1 articulo2 articulo2 articulo2 articulo3 articulo3"
        "articulo1 articulo1 articulo1 articulo2 articulo2 articulo2 articulo3 articulo3"
        "articulo1 articulo1 articulo1 articulo2 articulo2 articulo2 articulo4 articulo4"
        "articulo1 articulo1 articulo1 articulo2 articulo2 articulo2 articulo4 articulo4";
}

.articulo1 {
    grid-area: articulo1;
}

.articulo2 {
    grid-area: articulo2;
}

.articulo3 {
    grid-area: articulo3;
}

.articulo4 {
    grid-area: articulo4;
}



.articulo1 {
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 15px;
}

/* }
.articulo1_imagen {
    width: 500px;
}

/* .articulo1_subtitulo {
    font-family: var(--fuentetitulo);
    font-weight: lighter;
} */

.articulos_subtitulo2 {
    font-family: var(--fuente);
    text-decoration: underline;
}

.articulos_lista {
    font-family: var(--fuente);
    list-style: circle;
    margin-left: 10px;
}

.articulo2 {
    border: 1px black solid;
    padding: 15px;
    display: flex;
    flex-direction: column;
}


.articulo3 {
    border: 1px black solid;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.articulo4 {
    border: 1px black solid;
    padding: 10px;
    display: flex;
    flex-direction: column;
}


/* FOOTER */
footer {
    background-color: #183059;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    /* width: 100vh; */
}

.footer_lista {
    margin-top: 15px;
    padding: 15px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    transition: 3s all;
}
.footer_lista :hover {
    transform: scaleX(1.2);
}
.footer_lista li a {
    text-decoration: none;
    color: white;
    font-family: var(--fuente);
    padding: 15px;
    transition: all 300ms;
}

/* .footer_lista li a:hover {
    transform: scaleX(1.2);
} */

.footer_contacto {
    justify-content: flex-start;
    align-items: center;
    transition: 3s all;
}

.footer_contacto :hover{
    color: blue;
}
.footer_contacto ul {
    list-style: none;

}

.footer_titulo {
    display: flex;
    color: white;
    font-size: 20px;
    font-family: var(--fuentetitulo);
    justify-content: flex-start;
    padding: 10px;
    margin-left: 8px;
}

.footer_redes li {
    list-style: none;
    color: white;
    padding: 5px;
    margin: 10px;
    font-size: 20px;
    font-family: var(--fuente);

}

.footer_redes li a {
    color: white;
    text-decoration: none;

}

.footer_maps {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_maps iframe {
    width: 400px;
    height: 250px;

}

/* .footer_redes :hover {
    font-size: 23px;
} */

.footer_autor {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 32);
    text-decoration: none;
    font-family: var(--fuente);
    background-color: midnightblue;
}

.footer_autor ul {
    list-style: none;
    color: white;

}

.footer_autor ul li a {
    color: white;
}


@media (max-width: 795px) {

    .header h3 {
        display: none;
    }

    .header_logo {
        width: 75px;

    }

    .header_lista {
        list-style: none;
        display: flex;
        margin-right: 30px;
        gap: 30px;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
        font-family: var(--fuentetitulo);
        font-weight: lighter;
        font-size: 20px;
    }

    .main_foto img {
        width: 400px;

    }

    .main_noticias {
        display: grid;
        /* background-color: grey; */
        grid-template-areas: "noticias_agenda noticias_agenda"
            "noticia1        noticia2";
        /* grid-template-columns: ; */
        gap: 10px;
        padding: 20px;
    }

    .noticias_agenda {
        grid-area: noticias_agenda;
        overflow: hidden;
        width: 90%;
    }

    .noticia1 {
        grid-area: noticia1;
        /* width: 45vh; */
    }

    .noticia2 {
        grid-area: noticia2;
        /* width: 45vh; */
    }

    .footer_maps iframe {
        width: 200px;
        height: 125px;

    }

    .footer_redes :hover {
        font-size: 13px;
        background-color: navy;
    }

    .footer_redes li {
        list-style: none;
        color: white;
        padding: 3px;
        margin: 5px;
        font-size: 10px;
        font-family: var(--fuente);

    }


    .articulos {
        padding: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "articulo1 articulo1 articulo1 articulo1 articulo2 articulo2 articulo2 articulo2"
            "articulo1 articulo1 articulo1 articulo1 articulo2 articulo2 articulo2 articulo2"
            "articulo1 articulo1 articulo1 articulo1 articulo3 articulo3 articulo4 articulo4"
            "articulo1 articulo1 articulo1 articulo1 articulo3 articulo3 articulo4 articulo4";
    }

    .articulo1 {
        grid-area: articulo1;
    }

    .articulo2 {
        grid-area: articulo2;
    }

    .articulo3 {
        grid-area: articulo3;
    }

    .articulo4 {
        grid-area: articulo4;
    }



}

.noticias_agenda {
    grid-area: noticias_agenda;
    overflow: hidden;
    width: 80vh;
}



@media(max-width:420px) {
    .header {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .header_logo {
        display: none;
    }

    .header_lista {
        list-style: none;
        display: flex;
        flex-direction: row;
        /* margin-right: 30px; */
        gap: 30px;
        justify-content: center;
        /* align-items: center; */
        flex-wrap: wrap;
        font-family: var(--fuentetitulo);
        font-weight: lighter;
        font-size: 15px;
        /* background-image: ; */
    }

    .header h3 {
        display: flex;
        justify-content: center;
    }

    .main_foto {
        width: 300px;
    }

    .main_noticias {
        display: grid;
        /* background-color: grey; */
        grid-template-areas: "noticias_agenda "
            "noticia1        "
            "noticia2";
        gap: 10px;
        padding: 20px;
    }

    .noticias_agenda {
        grid-area: noticias_agenda;
        overflow: hidden;
        /* justify-items: center; */
    }

    .noticia1 {
        grid-area: noticia1;

    }

    .noticia2 {
        grid-area: noticia2;
    }

    .articulos {
        padding: 15px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "articulo1"
            "articulo2"
            "articulo3"
            "articulo4";
    }

    .articulo1 {
        grid-area: articulo1;
    }

    .articulo2 {
        grid-area: articulo2;
    }

    .articulo3 {
        grid-area: articulo3;
    }

    .articulo4 {
        grid-area: articulo4;
    }

}